<div>
    <!-- class="section" -->
    <div class="container-fluid">

        <div class="row resist-header">
            <div class="col-md-10">
                <h3>Information on Climate Change Adaptation Solutions, Tools and Technologies <br> Collection of Case Studies
                </h3>
                <br>
                <h4 style="margin-top: -5px; margin-bottom: 20px;"> <a
                        href="https://resist-project.eu/"
                        target="_blank" rel="noopener noreferrer">RESIST</a> Visualisation Tool of CCA Solutions</h4>
            </div>
            <div class="col-md-2 text-right" style="margin-top: 40px !important;">
                <ng-template #tipContent>
                    Choose format to download current selection of cases:
                    <br>
                    <b>
                        <a href="#" (click)="dowloadCasesCSV()">CSV</a> &nbsp;&nbsp;&nbsp;
                        <a href="#" (click)="dowloadCasesJSON()">JSON</a>
                    </b>
                </ng-template>
                <h6>
                    <a href="#" triggers="click" [autoClose]="'inside'" [ngbTooltip]="tipContent"><i class="fa fa-download x-large"> </i>
                    </a>
                    <a href="#" (click)="shareState()" [ngbTooltip]="tooltipMsg"><i class="fa fa-share-alt x-large">
                        </i> </a>
                    <a href="#" (click)="openModalAbout(contentAbout)" ngbTooltip="More Information about this tool"><i class="fa fa-info-circle x-large"> </i> </a>
                </h6>
                <span *ngIf="showCopiedMsg" style="margin-right: 5px; color: #128570"><b> Copied! </b></span>
                <span *ngIf="showDownloadMsg" style="margin-right: 5px; color: #128570"><b> Check your downloads folder!
                    </b></span>

            </div>
        </div>
        <div class="row">
            <div *ngIf="cs.selectedCase"
                [ngClass]="!pinnedCase ? 'col-md-10 offset-md-1 card' : 'col-md-5 offset-md-1 card'">
                <div class="card-body">
                    <button type="button" class="btn btn-outline-default btn-sm float-right"
                        (click)="cs.selectedCase = null; updateMarkerSel(); selectedIndex = -1" placement="bottom"
                        ngbTooltip="Close this item."><i class="fa fa-times" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-outline-default btn-sm float-right"
                        (click)="openModalWarning(contentWarning);" placement="bottom"
                        ngbTooltip="Click this button to pin this item. If there was a previously pinned item it will be closed. Select another case to compare them.">
                        <i class="fa fa-thumb-tack" aria-hidden="true"></i></button>
                    <div class="tim-title">
                        <h3>{{cs.selectedCase.solution_name}} </h3>
                    </div>
                    <p *ngIf="cs.selectedCase.pilot_name" class="text-left"> {{cs.selectedCase.pilot_name}}</p>
                    <p *ngIf="cs.selectedCase.region_name" class="text-left"> {{cs.selectedCase.region_name}}</p>
                    <p *ngIf="cs.selectedCase.region_hazard_level === 1" class="data-label"> Region-specific hazard: Flood
                        <!--  (~ TLR1 - TLR2) -->
                    </p>
                    <p *ngIf="cs.selectedCase.region_hazard_level === 2" class="data-label"> Region-specific hazard: Drought
                        <!-- (~ TLR3 - TLR4) -->
                    </p>
                    <p *ngIf="cs.selectedCase.region_hazard_level === 3" class="data-label"> Region-specific hazard: Wildfire
                        <!-- (~ TLR5
                        - TLR7) -->
                    </p>
                    <p *ngIf="cs.selectedCase.region_hazard_level === 4" class="data-label"> Region-specific hazard: Heat Stress
                        <!-- (~ TLR8 - TLR9) -->
                    </p>
                    <p *ngIf="collapseSelDesc" style="white-space: break-spaces;">
                        {{cs.selectedCase.description |slice:0:200}} [...]
                        <a href="#" (click)="collapseSelDesc = !collapseSelDesc"> Show more </a>
                    </p>
                    <p *ngIf="!collapseSelDesc" style="white-space: break-spaces;">
                        {{cs.selectedCase.description}}
                        <a href="#" (click)="collapseSelDesc = !collapseSelDesc"> Show less </a>
                    </p>
                    <br>
                    
                    <p *ngIf="cs.selectedCase.solution_type" class="text-right data-label"> {{cs.selectedCase.solution_type |
                        titlecase}}</p>
                    <span *ngIf="collapseLocSelDesc">
                        <p *ngFor="let extent of cs.selectedCase.geographic_extent | slice:0:3"
                            class="text-right text-muted">
                            <span *ngFor="let item of extent">
                                <span *ngIf="item.length == 2">
                                    {{ns.nuts0GeometryHash[item].properties.NAME_LATN}}</span>
                                <span *ngIf="ns.nuts1GeometryHash[item]">, </span>
                                <span *ngIf="item.length == 3">
                                    {{ns.nuts1GeometryHash[item].properties.NAME_LATN}}</span>
                                <span *ngIf="ns.nuts2GeometryHash[item]">, </span>
                                <span *ngIf="item.length == 4">
                                    {{ns.nuts2GeometryHash[item].properties.NAME_LATN}}</span>
                                <span *ngIf="ns.nuts3GeometryHash[item]">, </span>
                                <span *ngIf="item.length == 5">
                                    {{ns.nuts3GeometryHash[item].properties.NAME_LATN}}</span>
                                <span *ngIf="ns.lauNamesHash[item.trim()]">, </span>
                                <span *ngIf="item.length > 5"> {{ns.lauNamesHash[item.trim()]}} </span>
                            </span>
                        </p>
                        <p class="text-right">
                            <a *ngIf="cs.selectedCase.geographic_extent.length > 3" href="#"
                                (click)="collapseLocSelDesc = !collapseLocSelDesc"> Show more </a>
                        </p>
                    </span>
                    <span *ngIf="!collapseLocSelDesc">
                        <p *ngFor="let extent of cs.selectedCase.geographic_extent" class="text-right text-muted">
                            <span *ngFor="let item of extent">
                                <span *ngIf="item.length == 2">
                                    {{ns.nuts0GeometryHash[item].properties.NAME_LATN}}</span>
                                <span *ngIf="ns.nuts1GeometryHash[item]">, </span>
                                <span *ngIf="item.length == 3">
                                    {{ns.nuts1GeometryHash[item].properties.NAME_LATN}}</span>
                                <span *ngIf="ns.nuts2GeometryHash[item]">, </span>
                                <span *ngIf="item.length == 4">
                                    {{ns.nuts2GeometryHash[item].properties.NAME_LATN}}</span>
                                <span *ngIf="ns.nuts3GeometryHash[item]">, </span>
                                <span *ngIf="item.length == 5">
                                    {{ns.nuts3GeometryHash[item].properties.NAME_LATN}}</span>
                                <span *ngIf="ns.lauNamesHash[item.trim()]">, </span>
                                <span *ngIf="item.length > 5"> {{ns.lauNamesHash[item.trim()]}} </span>
                            </span>
                        </p>
                        <p class="text-right">
                            <a href="#" (click)="collapseLocSelDesc = !collapseLocSelDesc" class="text-right"> Show less
                            </a>
                        </p>
                    </span>
                    <p *ngIf="cs.selectedCase.solution_goals && cs.selectedCase.solution_goals.length > 0"
                        class="label-description">
                        Solution Goals </p>
                    <span *ngFor="let solu of cs.selectedCase.solution_goals">
                        <span placement="bottom" class="label label-icon label-warning">{{solu}} -
                            {{tas.natureSolution[solu.toString()]}}</span>
                    </span>
                    <p *ngIf="cs.selectedCase.ecosystem_service.length > 0" class="label-description">Ecosystem Services </p>
                    <span *ngFor="let tech of cs.selectedCase.ecosystem_service">
                        <span placement="bottom" class="label label-default label-icon"><i
                                class="fa fa-{{iconsServices[tech]}}"></i>{{tech}}</span>
                    </span>
                    <p *ngIf="cs.selectedCase.tools_platforms.length > 0" class="label-description">Tools/Platforms </p>
                    <span *ngFor="let too of cs.selectedCase.tools_platforms">
                        <span placement="bottom" class="label label-icon label-warning"><i
                                class="fa fa-{{iconsTools[too]}}"></i>{{too}}</span>
                    

                    </span>
                    <p *ngIf="cs.selectedCase.data_categories.length > 0" class="label-description">Data Categories
                    </p>
                    <span *ngFor="let tech of cs.selectedCase.data_categories">
                        <span placement="bottom" class="label label-default label-icon"><i
                                class="fa fa-{{iconsData[tech]}}"></i>{{tech}}</span>
                    </span>


                    <div *ngIf="cs.selectedCase?.data">
                        <div *ngFor="let dataItem of cs.selectedCase.data">
                          <p class="text-left">
                            <span class="data-label">Data Type:</span> {{ dataItem.type }}
                            | <span class="data-label">Format:</span> {{ dataItem.format }}
                            <a href="{{ dataItem.link }}" target="_blank" class="data-link">Access to Data</a>
                          </p>
                        </div>
                      </div>
                      
                      

                    <div *ngIf="cs.selectedCase?.tools">
                        <div *ngFor="let toolItem of cs.selectedCase.tools">
                            <p class="text-left">
                                <span class="tool-label">Tool Name:</span> {{ toolItem.name }}
                                <br>
                                <span class="tool-label">Description:</span> {{ toolItem.description }}
                                <a href="{{ toolItem.link }}" target="_blank" class="tool-link">Link</a>
                            </p>
                        </div>
                    </div>
                    
                    
                    
                        
                    <div *ngIf="cs.selectedCase.details" class="float-right">
                        <a href="{{cs.selectedCase.details}}" target="_blank" rel="noopener noreferrer"><button
                                type="button" class="btn btn-outline-default btn-sm" placement="bottom"
                                ngbTooltip="Open link {{cs.selectedCase.details}}"> Link to details</button></a>
                    </div>
                    <div class="float-right">
                        <a href="{{cs.selectedCase.source}}" target="_blank" rel="noopener noreferrer"><button
                                type="button" class="btn btn-outline-default btn-sm" placement="bottom"
                                ngbTooltip="Open link {{cs.selectedCase.source}}"> Link to Source</button></a>
                    </div>
                </div>
            </div>
            <!-- 
            <ngb-alert [type]="danger" [dismissible]="false">
                <div class="container">
                    <i class="nc-icon nc-bell-55"></i>
                    Warning, if you pin this case, the previously pinned one will be replaced.
                    <button type="button" name="button" class="close" (click)="closeAlert(alert)">
                        <i class="nc-icon nc-simple-remove"></i>
                    </button>
                </div>
            </ngb-alert> -->

            <div *ngIf="pinnedCase"
                [ngClass]="!cs.selectedCase ? 'col-md-5 offset-md-6 card' : 'col-md-5 offset-md-1 card'">
                <div class="card-body">

                    <button type="button" class="btn btn-outline-default btn-sm float-right"
                        (click)="pinnedCase = null; updateMarkerSel()" placement="bottom"
                        ngbTooltip="Close this item."><i class="fa fa-times" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-outline-default btn-link btn-sm float-right" disabled>
                        <i class="fa fa-thumb-tack" aria-hidden="true"></i></button>
                    <div class="tim-title ">
                        <h3>{{pinnedCase.solution_name}}  </h3>
                    </div>
                    <p *ngIf="pinnedCase.region_hazard_level === 1" class="text-muted"> Flood
                        <!-- (~ TLR1 - TLR2) -->
                    </p>
                    <p *ngIf="pinnedCase.region_hazard_level === 2" class="text-muted"> Drought
                        <!-- (~ TLR3 - TLR4) -->
                    </p>
                    <p *ngIf="pinnedCase.region_hazard_level === 3" class="text-muted"> Wildfire
                        <!-- (~ TLR5
                        - TLR7) -->
                    </p>
                    <p *ngIf="pinnedCase.region_hazard_level === 4" class="text-muted"> Heat Stress
                        <!-- (~ TLR8 - TLR9) -->
                    </p>
                    <p *ngIf="collapsePinDesc" style="white-space: break-spaces;">
                        {{pinnedCase.description |slice:0:200}} [...]
                        <a href="#" (click)="collapsePinDesc = !collapsePinDesc"> Show more </a>
                    </p>
                    <p *ngIf="!collapsePinDesc" style="white-space: break-spaces;">
                        {{pinnedCase.description}}
                        <a href="#" (click)="collapsePinDesc = !collapsePinDesc"> Show less </a>
                    </p>
                    <br>
                    <p *ngIf="pinnedCase.solution_type" class="text-right label-description"> {{pinnedCase.solution_type | titlecase}}
                    </p>

                    <span *ngIf="collapseLocPinDesc">
                        <p *ngFor="let extent of pinnedCase.geographic_extent | slice:0:3"
                            class="text-right text-muted">
                            <span *ngFor="let item of extent">
                                <span *ngIf="item.length == 2">
                                    {{ns.nuts0GeometryHash[item].properties.NAME_LATN}}</span>
                                <span *ngIf="ns.nuts1GeometryHash[item]">, </span>
                                <span *ngIf="item.length == 3">
                                    {{ns.nuts1GeometryHash[item].properties.NAME_LATN}}</span>
                                <span *ngIf="ns.nuts2GeometryHash[item]">, </span>
                                <span *ngIf="item.length == 4">
                                    {{ns.nuts2GeometryHash[item].properties.NAME_LATN}}</span>
                                <span *ngIf="ns.nuts3GeometryHash[item]">, </span>
                                <span *ngIf="item.length == 5">
                                    {{ns.nuts3GeometryHash[item].properties.NAME_LATN}}</span>
                                <span *ngIf="ns.lauNamesHash[item.trim()]">, </span>
                                <span *ngIf="item.length > 5"> {{ns.lauNamesHash[item.trim()]}} </span>
                            </span>
                        </p>
                        <p class="text-right">
                            <a *ngIf="pinnedCase.geographic_extent.length > 3" href="#"
                                (click)="collapseLocPinDesc = !collapseLocPinDesc"> Show more </a>
                        </p>
                    </span>
                    <span *ngIf="!collapseLocPinDesc">
                        <p *ngFor="let extent of pinnedCase.geographic_extent" class="text-right text-muted">
                            <span *ngFor="let item of extent">
                                <span *ngIf="item.length == 2">
                                    {{ns.nuts0GeometryHash[item].properties.NAME_LATN}}</span>
                                <span *ngIf="ns.nuts1GeometryHash[item]">, </span>
                                <span *ngIf="item.length == 3">
                                    {{ns.nuts1GeometryHash[item].properties.NAME_LATN}}</span>
                                <span *ngIf="ns.nuts2GeometryHash[item]">, </span>
                                <span *ngIf="item.length == 4">
                                    {{ns.nuts2GeometryHash[item].properties.NAME_LATN}}</span>
                                <span *ngIf="ns.nuts3GeometryHash[item]">, </span>
                                <span *ngIf="item.length == 5">
                                    {{ns.nuts3GeometryHash[item].properties.NAME_LATN}}</span>
                                <span *ngIf="ns.lauNamesHash[item.trim()]">, </span>
                                <span *ngIf="item.length > 5"> {{ns.lauNamesHash[item.trim()]}} </span>
                            </span>
                        </p>
                        <p class="text-right">
                            <a href="#" (click)="collapseLocPinDesc = !collapseLocPinDesc" class="text-right"> Show less
                            </a>
                        </p>
                    </span>

                    
                    <p *ngIf="pinnedCase.ecosystem_service.length > 0" class="label-description">Ecosystem Services </p>
                    <span *ngFor="let tech of pinnedCase.ecosystem_service">
                        <span placement="bottom" class="label label-default label-icon"><i
                                class="fa fa-{{iconsServices[tech]}}"></i>{{tech}}</span>
                    </span>
                    <p *ngIf="pinnedCase.tools_platforms.length > 0" class="label-description">Tools_Platforms </p>
                    <span *ngFor="let too of pinnedCase.tools_platforms">
                        <span placement="bottom" class="label label-secondary label-icon"><i
                                class="fa fa-{{iconsTools[too]}}"></i>{{too}}</span>
                    </span>


                    <p *ngIf="pinnedCase.data_categories.length > 0" class="label-description">Data Categories
                    </p>
                    <span *ngFor="let tech of pinnedCase.data_categories">
                        <span placement="bottom" class="label label-danger label-icon"><i
                                class="fa fa-{{iconsData[tech]}}"></i>{{tech}}</span>
                    </span>


                    <div *ngIf="pinnedCase.details" class="float-right">
                        <a href="{{pinnedCase.details}}" target="_blank" rel="noopener noreferrer"><button type="button"
                                class="btn btn-outline-default btn-sm" placement="bottom"
                                ngbTooltip="Open link {{pinnedCase.details}}"> Link to details</button></a>
                    </div>
                    <div class="float-right">
                        <a href="{{pinnedCase.source}}" target="_blank" rel="noopener noreferrer"><button type="button"
                                class="btn btn-outline-default btn-sm" placement="bottom"
                                ngbTooltip="Open link {{pinnedCase.source}}"> Link to Source</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div *ngIf="cs.allFilteredCases" class="col-md-3 mt-4 resist-filters">
                Total results: {{cs.allFilteredCases.length}}
                <app-filters-menu></app-filters-menu>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <h6 *ngIf="!cs.allFilteredCases"> Loading Cases ...</h6>

                        <span *ngFor="let n of ns.nuts0Active; let index0=index;">
                            <span class="label label-nuts0 label-close"
                                (click)="ns.nuts0Active.splice(index0, 1); updateModels() ">{{n.NAME_ENGLISH}}
                                <i class="nc-icon nc-simple-remove"></i> </span>
                        </span>
                        <span *ngFor="let n of ns.nuts1Active; let index1=index;">
                            <span class="label label-nuts1 label-close"
                                (click)="ns.nuts1Active.splice(index1, 1); updateModels() ">{{n.NAME_LATN}}
                                <i class="nc-icon nc-simple-remove"></i>
                            </span>
                        </span>
                        <span *ngFor="let n of ns.nuts2Active; let index2=index;">
                            <span class="label label-nuts2 label-close"
                                (click)="ns.nuts2Active.splice(index2, 1); updateModels() ">{{n.NAME_LATN}}
                                <i class="nc-icon nc-simple-remove"></i>
                            </span>
                        </span>
                        <span *ngFor="let n of ns.nuts3Active; let index3=index;">
                            <span class=" label label-nuts3 label-close"
                                (click)="ns.nuts3Active.splice(index3, 1); updateModels() ">{{n.NAME_LATN}}
                                <i class="nc-icon nc-simple-remove"></i>
                            </span>
                        </span>
                        <span *ngFor="let ogc of tas.ecosystemServices">
                            <span *ngIf="ogc.active" class="label label-default label-close"
                                (click)="ogc.active = false; cs.filterByEcosystemService()">
                                <i class="fa fa-{{iconsServices[ogc.name]}}"></i>
                                {{ogc.name}}
                                <i class="nc-icon nc-simple-remove"></i> </span>
                        </span>
                        <span *ngFor="let em of tas.dataCategories">
                            <span *ngIf="em.active" class="label label-danger label-close"
                                (click)="em.active = false; cs.filterByDataCategory()">
                                <i class="fa fa-{{iconsData[em.name]}}"></i>
                                {{em.name}}
                                <i class="nc-icon nc-simple-remove"></i> </span>
                        </span>
                        <span *ngFor="let too of tas.toolsPlatforms">
                            <span *ngIf="too.active" class="label label-danger label-close"
                                (click)="too.active = false; cs.filterByToolsPlatforms()">
                                <i class="fa fa-{{iconsTools[too.name]}}"></i>
                                {{too.name}}
                                <i class="nc-icon nc-simple-remove"></i> </span>
                        </span>
                        <span *ngFor="let so of tas.natureSolution">
                            <span *ngIf="so.active" class="label label-secondary label-close"
                                (click)="so.active = false; cs.filterByNatureSolution()">
                                <i class="fa fa-{{iconsNature[so.name]}}"></i>
                                {{so.name}}
                                <i class="nc-icon nc-simple-remove"></i> </span>
                        </span>

                    </div>
                </div>
                <div class="row">
                    <div [ngClass]="cs.allFilteredCases && listMapVisible === 1 ? 'col-md-6' : 'col-md-12'"
                        class="text-center resist-map" [ngStyle]="{'display':listMapVisible !== 0 ? 'block' : 'none'}">
                        <button *ngIf=" listMapVisible === 1" type="button"
                            class="btn btn-default btn-sm btn-outline-default btn-icon mb-2"
                            (click)="listMapVisible = 2;" placement="top" ngbTooltip="Show map full screen">
                            Maximise Map
                            <i class="fa fa-chevron-right">
                            </i>
                        </button>
                        <button *ngIf="cs.allFilteredCases && listMapVisible != 1" type="button"
                            class="btn btn-default btn-sm btn-outline-default btn-icon mb-2"
                            (click)="listMapVisible = 1;" placement="top" ngbTooltip="Show map and list">
                            Minimise Map <i class="fa fa-chevron-left"> </i>
                        </button>
                        <h6 *ngIf="loadingMap"> Loading Map ...</h6>
                        <div #webtoolsMap id="webtoolsMap"> </div>
                    </div>
                    <div *ngIf="cs.allFilteredCases" [ngClass]="listMapVisible === 1 ? 'col-md-6' : 'col-md-12'"
                        class="text-center elise-list" [ngStyle]="{'display':listMapVisible !== 2 ? 'block' : 'none'}">
                        <button *ngIf="listMapVisible === 1" type="button"
                            class="btn btn-default btn-sm btn-outline-default btn-icon mb-2"
                            (click)="listMapVisible = 0;" placement="top" ngbTooltip="Show list full screen">
                            Maximise List <i class="fa fa-chevron-left"></i>
                        </button>
                        <button *ngIf="listMapVisible != 1" type="button"
                            class="btn btn-default btn-sm btn-outline-default btn-icon mb-2"
                            (click)="listMapVisible = 1;" placement="top" ngbTooltip="Show map and list">
                            Minimise List <i class="fa fa-chevron-right"></i>
                        </button>
                        <div
                            *ngFor="let c of cs.filteredCases.slice((cs.pagination-1) * pageLength , cs.pagination * pageLength ); index as i">

                            <a class="color-default" (click)="clickCard(i)" class="card"
                                [ngClass]="cs.selectedCase && selectedIndex === i + (cs.pagination - 1) * pageLength ? 'card-selected' : ''">
                                <div class="card-body row">
                                    <div class="col-12">
                                        <p class="solution-text">{{c.solution_name}}</p> 
                                        <p *ngIf="c.region_name" class="label-text">
                                            {{c.region_name}}</p><!-- TODO: add id? {{c._id.$oid}} -  -->
                                    </div>

                                    <div class="col-5">
                                        <span *ngFor="let solu of c.solution_goals">
                                            <span placement="bottom" ngbTooltip="{{solu}}"
                                                class="label label-warning label-icon"><i
                                                    class="fa fa-{{iconsNature[solu]}}"></i></span>
                                        </span>
                                        <span *ngFor="let tech of c.ecosystem_service">
                                            <span placement="bottom" ngbTooltip="{{tech}}"
                                                class="label label-default label-icon"><i
                                                    class="fa fa-{{iconsServices[tech]}}"></i></span>
                                        </span>
                                        <span *ngFor="let too of c.tools_platforms">
                                            <span placement="bottom" ngbTooltip="{{too}}"
                                                class="label label-warning label-icon"><i
                                                    class="fa fa-{{iconsTools[too]}}"></i></span>
                                        </span>
                                        <span *ngFor="let tech of c.data_categories">
                                            <span placement="bottom" ngbTooltip="{{tech}}"
                                                class="label label-default label-icon"><i
                                                    class="fa fa-{{iconsData[tech]}}"></i></span>
                                        </span>
 
 
                                    </div>
                                    <div class="col-7">
                                        <p *ngIf="c.description" class="label-description">{{c.description |
                                            slice:0:120}}
                                            [...]</p>
                                    </div>

                                    <div class="col-5">
                                        <span *ngIf="c.region_hazard_level === 1"
                                        class="label label-secondary" >Flood</span>
                                        <span *ngIf="c.region_hazard_level === 2"
                                        class="label label-secondary">Drought</span>
                                        <span *ngIf="c.region_hazard_level === 3"
                                        class="label label-secondary">Wildfire</span>
                                        <span *ngIf="c.region_hazard_level === 4"
                                        class="label label-secondary">Heat Stress</span>
                                    </div>

                                    <div class="col-7">
                                        <p *ngIf="c.solution_type" class="label-text"
                                            [ngClass]="c.geographic_extent.length > 1? 'locations-span' : ''">{{c.solution_type
                                            | titlecase}} <i *ngIf="c.features && c.features.length > 0"
                                                class="fa fa-map-marker text-primary" ngbTooltip="Has location"></i>
                                            <span *ngIf="c.geographic_extent.length > 1"> <br>
                                                {{c.geographic_extent.length}} locations &nbsp;&nbsp;&nbsp;</span>
                                        </p>
                                    </div>
                                    <br>
                                </div>
                            </a>
                        </div>
                        <div *ngIf="cs.filteredCases && cs.filteredCases.length > 4" class="col-md-12"
                            class="text-center mt-2">
                            <ngb-pagination [collectionSize]="cs.filteredCases.length" [(page)]="cs.pagination"
                                [maxSize]="3" [pageSize]="pageLength" [rotate]="true">
                            </ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row" style="margin: auto;">
            v1.4
        </div>
    </div>
</div>

<ng-template #contentAbout let-modal>
    <div class="modal-header">
        <h4 class="modal-title">About the project</h4>
    </div>
    <div class="modal-body">
        The RESIST visualisation tool shows a set of solution, tools and technologies which has been used towards the climate change adaptation in different regions in Europe. It was developed as part of the RESIST project.
        <a href="https://resist-project.eu/"
            target="_blank" rel="noopener noreferrer">Information on Climate Change Adaptation Solutions, Tools and Technologies </a>, performed under the <a
            href="https://resist-project.eu/"
            target="_blank" rel="noopener noreferrer">RESIST</a> Part of the RESIST study
        <br>
        <br>
        This tool is best viewed using Google Chrome or Firefox.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-default " (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #contentWarning let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Warning!</h4>
    </div>
    <div class="modal-body">
        <p>Only one case can be pinned at a time. If you pin this one, the previous pinned item will be discarded.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-default"
            (click)="modal.close('Close click');  pinnedCase = cs.selectedCase; cs.selectedCase= null; updateMarkerSel()">Accept</button>
        <button type="button" class="btn btn-outline-default" (click)="modal.close('Close click')">Discard</button>
    </div>
</ng-template>

<ng-template id="contentSelect" #contentSelect let-modal>
    <div class="modal-body">
        <p>Select a case from the list or the map to be able to zoom into it.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-default" (click)="modal.close('Close click')">Ok</button>
    </div>
</ng-template>