.btn-icon {
    width: 100%;
    text-align: left;
}

.btn-icon i {
    float: right;
}

.right-chart {
    margin-top: -15px;
    margin-left: 10px;
}
.btn-custom {
    background-color: #0453a2; 
    border-color: #004488; 
    color: #ffffff; 
}

.btn-custom:hover {
    background-color: #063a72; /* Change this hex code to a darker shade for hover effect */
    border-color: #003366; /* Set hover border color if needed */
}

.smaller-text {
    font-size: 0.8rem;
}

.color1 {
    color: #61751a;
}

.color2 {
    color: #BB3E03;
}

.color3 {
    color: #CA6702;
}

.color4 {
    color: #EE9B00;
}

.color5 {
    color: #E9D8A6;
}

.color6 {
    color: #94D2BD;
}

.color7 {
    color: #0A9396;
}

.color8 {
    color: #cb2d09;
}

.color9 {
    color: #1accae;
}

.color10 {
    color: #002229;
}
.color11{
    color:aqua;
}
.color12{
    color:#61751a;
}
.color13{
    color:#11a748;
}
.color14{
    color:rgb(181, 32, 148);
}


