<div #filters class="input-group" [ngClass]="{'input-group-focus':focus===true}">
    <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon1" (focus)="focus=true"
        (blur)="focus=false" [(ngModel)]="tas.textFilter" (keyup)="cs.filterByText(tas.textFilter)">
    <div class="input-group-append">
        <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
    </div>
</div>

<div>
    <button type="button" class="btn btn-default btn-sm btn-link  btn-icon" (click)="regiHazard.toggle()"
        [attr.aria-expanded]="!tas.regiHazardVisible" placement="bottom"
        ngbTooltip="Filter by Region-specific Hazards to identify and address localized climate challenges.">
        Region-specific Hazards
        <i [ngClass]="tas.regiHazardVisible? 'fa fa-chevron-down' : 'fa fa-chevron-up'"> </i></button>
</div>
<div #regiHazard="ngbCollapse" [(ngbCollapse)]="tas.regiHazardVisible">
    <div class="row right-chart">
        <ngx-charts-bar-horizontal-stacked *ngIf="!tas.regiHazardVisible" [view]="view" [results]="hazardGraph"
            [scheme]="colorScheme5" (select)="onSelect($event)">
        </ngx-charts-bar-horizontal-stacked>
        <br>
    </div>
    <div class="form-check-radio">
        <label class="form-check-label">
            <input #regiHazardRadios0 class="form-check-input" type="radio" name="regiHazardRadios" id="regiHazardRadios0"
                value="1" (change)="cs.filterByRegionHazard(0)" checked>
            All
            <span class="form-check-sign"></span>
        </label>
    </div>
    <div class="form-check-radio">
        <label class="form-check-label">
            <input class="form-check-input" type="radio" name="regiHazardRadios" id="regiHazardRadios1" value="1"
                (change)="cs.filterByRegionHazard(1)" [(checked)]="tas.hazardss.r01">
            <span class="form-check-sign"></span>
            <i class="fa fa-circle color1"> </i>
            Flood
            <!--  (~ TLR1 - TLR2) --> ({{cs.resultCases.hazardss.r01}})


        </label>
    </div>
    <div class="form-check-radio">
        <label class="form-check-label">
            <input class="form-check-input" type="radio" name="regiHazardRadios" id="regiHazardRadios2" value="2"
                (change)="cs.filterByRegionHazard(2)" [(checked)]="tas.hazardss.r02">
            <span class="form-check-sign"></span>
            <i class="fa fa-circle color4"> </i>
           Drought
            <!-- (~ TLR3 - TLR4)  -->
            ({{cs.resultCases.hazardss.r02}})

        </label>
    </div>
    <div class="form-check-radio">
        <label class="form-check-label">
            <input class="form-check-input" type="radio" name="regiHazardRadios" id="regiHazardRadios3" value="3"
                (change)="cs.filterByRegionHazard(3)" [(checked)]="tas.hazardss.r03">
            <span class="form-check-sign"></span>
            <i class="fa fa-circle color5"> </i>
            Wildfire
            <!-- (~ TLR5 - TLR7) --> ({{cs.resultCases.hazardss.r03}})
        </label>
    </div>
    <div class="form-check-radio">
        <label class="form-check-label">
            <input class="form-check-input" type="radio" name="regiHazardRadios" id="regiHazardRadios4" value="4"
                (change)="cs.filterByRegionHazard(4)" [(checked)]="tas.hazardss.r04">
            <span class="form-check-sign"></span>
            <i class="fa fa-circle color6"> </i>
            Heat Stress
            <!-- (~ TLR8 - TLR9) --> ({{cs.resultCases.hazardss.r04}})
        </label>
    </div>
</div>




<div>
    <button type="button" class="btn btn-default btn-sm btn-link  btn-icon" (click)="type.toggle()"
        [attr.aria-expanded]="!tas.solutiontypeVisible" placement="bottom" ngbTooltip="Filter by the type of solution.">
        Solution types
        <i [ngClass]="tas.solutiontypeVisible? 'fa fa-chevron-down' : 'fa fa-chevron-up'"> </i></button>
</div>
<div #type="ngbCollapse" [(ngbCollapse)]="tas.solutiontypeVisible">

    <div class="row right-chart">
        <ngx-charts-bar-horizontal-stacked *ngIf="!tas.solutiontypeVisible" [view]="view" [results]="solutiontypeGraph"
            [scheme]="colorScheme5" (select)="onSelect($event)">
        </ngx-charts-bar-horizontal-stacked>
        <br>
    </div>

    <div class="form-check-radio">
        <label class="form-check-label">
            <input #solutiontypeRadios1 class="form-check-input" type="radio" name="solutiontypeRadios" id="solutiontypeRadios1" value="1"
                (change)="cs.filterBySolutionType('all')" checked>
            All
            <span class="form-check-sign"></span>
        </label>
    </div>
    <div class="form-check-radio">
        <label class="form-check-label">
            <input class="form-check-input" type="radio" name="solutiontypeRadios" id="solutiontypeRadios2" value="2"
                (change)="cs.filterBySolutionType('naturebased')" [(checked)]="tas.solutiontype.naturebased ">

            <span class="form-check-sign"></span>
            <i class="fa fa-circle color1"> </i>
            Nature-based ({{cs.resultCases.solutiontype.naturebased}})
        </label>
    </div>
    <div class="form-check-radio">
        <label class="form-check-label">
            <input class="form-check-input" type="radio" name="solutiontypeRadios" id="solutiontypeRadios3" value="3"
                (change)="cs.filterBySolutionType('grey')" [(checked)]="tas.solutiontype.grey">

            <span class="form-check-sign"></span>
            <i class="fa fa-circle color4"> </i>
            Grey ({{cs.resultCases.solutiontype.grey}})
        </label>
    </div>
    <div class="form-check-radio">
        <label class="form-check-label">
            <input class="form-check-input" type="radio" name="solutiontypeRadios" id="solutiontypeRadios4" value="4"
                (change)="cs.filterBySolutionType('technological')" [(checked)]="tas.solutiontype.technological">

            <span class="form-check-sign"></span>
            <i class="fa fa-circle color5"> </i>
            Technological({{cs.resultCases.solutiontype.technological}})
        </label>
    </div>
    <div class="form-check-radio">
        <label class="form-check-label">
            <input class="form-check-input" type="radio" name="solutiontypeRadios" id="solutiontypeRadios5" value="5"
                (change)="cs.filterBySolutionType('nontechnological')" [(checked)]="tas.solutiontype.nontechnological">

            <span class="form-check-sign"></span>
            <i class="fa fa-circle color6"> </i>
            Non-technological({{cs.resultCases.solutiontype.nontechnological}})
        </label>
    </div>
</div>

 <div>
    <button type="button" class="btn btn-default btn-sm btn-link  btn-icon" (click)="nature.toggle()"
        [attr.aria-expanded]="!tas.natureVisible" placement="bottom"
        ngbTooltip="Filter by type of Solution Goals.">
        Solution Goals
        <i [ngClass]="tas.natureVisible? 'fa fa-chevron-down' : 'fa fa-chevron-up'"> </i></button>
</div>
<div #nature="ngbCollapse" [(ngbCollapse)]="tas.natureVisible">

    <div class="row right-chart">
        <ngx-charts-bar-horizontal-stacked *ngIf="!tas.natureVisible" [view]="view" [results]="goalGraph"
            [scheme]="colorScheme10" (select)="onSelect($event)">
        </ngx-charts-bar-horizontal-stacked>
        <br>
    </div>

    <div *ngFor=" let na of tas.natureSolution" class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="" [(ngModel)]="na.active"
                (change)="cs.filterByNatureSolution()">
            <span class="form-check-sign"></span>
            <i class="fa fa-circle" class="{{na.class}}"> </i>
            <i class="fa fa-{{na.icon}}"> </i> {{na.name}} ({{cs.resultCases.solution[na.result]}})
        </label>
    </div>
</div>

            
<div>
    <button type="button" class="btn btn-default btn-sm btn-link  btn-icon" (click)="geo.toggle()"
        [attr.aria-expanded]="!tas.geoExtVisible" placement="bottom" ngbTooltip="Filter by geographic extent, based on the NUTS 2023 classification (Nomenclature of territorial units for statistics), a hierarchical system for dividing up the economic territory of the Member States of the European Union, with corresponding statistical regions in
        EFTA countries, candidate countries and potential candidates. (source: Eurostat)">
        Administrative Level
        <i [ngClass]="tas.geoExtVisible? 'fa fa-chevron-down' : 'fa fa-chevron-up'"> </i></button>
</div>
<div #geo="ngbCollapse" [(ngbCollapse)]="tas.geoExtVisible">

    <p>Countries</p>
    <ng-select [(ngModel)]="ns.nuts0Active" [multiple]="true" [clearable]="false" (change)="cs.filterByGeoExtent()"
        notFoundText="Not found, try with a broader search">
        <ng-option *ngFor="let n of ns.nuts0Labels" [value]="n">{{n.NAME_ENGLISH}} - {{n.NUTS_ID}}</ng-option>
    </ng-select>

    <p> Regions</p>
    <ng-select [(ngModel)]="ns.nuts1Active" [multiple]="true" [clearable]="false" groupBy="NAME_ENGLISH"
        (change)="cs.filterByGeoExtent()" notFoundText="Not found, try with a broader search">
        <ng-option *ngFor="let n of ns.nuts1Labels" [value]="n">{{n.NAME_LATN}} - {{n.NUTS_ID}}</ng-option>
    </ng-select>

    <p> Sub-regions</p>
    <ng-select [(ngModel)]="ns.nuts2Active" [multiple]="true" [clearable]="false" groupBy="NAME_ENGLISH"
        (change)="cs.filterByGeoExtent()" notFoundText="Not found, try with a broader search">
        <ng-option *ngFor="let n of ns.nuts2Labels" [value]="n">{{n.NAME_LATN}} - {{n.NUTS_ID}}</ng-option>
    </ng-select>

    <p>Locals </p>
    <ng-select [(ngModel)]="ns.nuts3Active" [multiple]="true" [clearable]="false" groupBy="NAME_ENGLISH"
        (change)="cs.filterByGeoExtent()" notFoundText="Not found, try with a broader search">
        <ng-option *ngFor="let n of ns.nuts3Labels" [value]="n">{{n.NAME_LATN}} - {{n.NUTS_ID}}</ng-option>
    </ng-select>

</div>

<div>
    <button type="button" class="btn btn-default btn-sm btn-link  btn-icon" (click)="ogc.toggle()"
        [attr.aria-expanded]="!tas.ecosystemVisible" placement="bottom"
        ngbTooltip="Filter by Potential Supported Ecosystem Services to pinpoint vital natural services essential for climate change adaptation and fostering environmental resilience.">
        Supported Ecosystem Services
        <i [ngClass]="tas.ecosystemVisible? 'fa fa-chevron-down' : 'fa fa-chevron-up'"> </i></button>
</div>
<div #ogc="ngbCollapse" [(ngbCollapse)]="tas.ecosystemVisible">

    <div class="row right-chart">
        <ngx-charts-bar-horizontal-stacked *ngIf="!tas.ecosystemVisible" [view]="view" [results]="ecosystemGraph"
            [scheme]="colorScheme10" (select)="onSelect($event)">
        </ngx-charts-bar-horizontal-stacked>
        <br>
    </div>

    <div *ngFor=" let ogc of tas.ecosystemServices" class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="" [(ngModel)]="ogc.active"
                (change)="cs.filterByEcosystemService()">
            <span class="form-check-sign"></span>
            <i class="fa fa-circle" class="{{ogc.class}}"> </i>
            <i class="fa fa-{{ogc.icon}}"> </i> {{ogc.name}} ({{cs.resultCases.trendWatch[ogc.result]}})
        </label>
    </div>
</div>
<div>
    <button type="button" class="btn btn-default btn-sm btn-link  btn-icon" (click)="emerging.toggle()"
        [attr.aria-expanded]="!tas.trendVisible" placement="bottom"
        ngbTooltip="Filter by Data Categories to explore diverse datasets crucial for climate change adaptation.">
        Data Categories
        <i [ngClass]="tas.trendVisible? 'fa fa-chevron-down' : 'fa fa-chevron-up'"> </i></button>
</div>
<div #emerging="ngbCollapse" [(ngbCollapse)]="tas.trendVisible">

    <div class="row right-chart">
        <ngx-charts-bar-horizontal-stacked *ngIf="!tas.trendVisible" [view]="view" [results]="trendGraph"
            [scheme]="colorScheme10" (select)="onSelect($event)">
        </ngx-charts-bar-horizontal-stacked>
        <br>
    </div>
    <div *ngFor=" let em of tas.dataCategories" class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="" [(ngModel)]="em.active"
                (change)="cs.filterByDataCategory()">
            <span class="form-check-sign"></span>
            <i class="fa fa-circle" class="{{em.class}}"> </i>
            <i class="fa fa-{{em.icon}}"> </i> {{em.name}} ({{cs.resultCases.emerging[em.result]}})
        </label>
    </div>
</div>


<div>
    <button type="button" class="btn btn-default btn-sm btn-link  btn-icon" (click)="tools.toggle()"
        [attr.aria-expanded]="!tas.toolsVisible" placement="bottom"
        ngbTooltip="Filter by type of tools/platforms.">
        Tools/Platforms
        <i [ngClass]="tas.toolsVisible? 'fa fa-chevron-down' : 'fa fa-chevron-up'"> </i></button>
</div>
<div #tools="ngbCollapse" [(ngbCollapse)]="tas.toolsVisible">

    <div class="row right-chart">
        <ngx-charts-bar-horizontal-stacked *ngIf="!tas.toolsVisible" [view]="view" [results]="toolsGraph"
            [scheme]="colorScheme5" (select)="onSelect($event)">
        </ngx-charts-bar-horizontal-stacked>
        <br>
    </div>

    <div *ngFor=" let too of tas.toolsPlatforms" class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="" [(ngModel)]="too.active"
                (change)="cs.filterByToolsPlatforms()">
            <span class="form-check-sign"></span>
            <i class="fa fa-circle" class="{{too.class}}"> </i>
            <i class="fa fa-{{too.icon}}"> </i> {{too.name}} ({{cs.resultCases.tools[too.result]}})
        </label>
    </div>
</div>

<br>
<button type="button" class="btn btn-sm btn-danger"
    (click)="solutiontypeRadios1.checked=true; regiHazardRadios0.checked=true; cs.clearFilters(); tas.textFilter = ''">
    <i class="fa fa-times"> </i>Clear all filters</button>
<br>